@use "../settings" as *;

.header {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
}

.hero {
  @include flex(column);
  height: calc(100vh - #{$navbar-height});
  background: url("../img/generic.jpg") no-repeat;
  background-size: cover;
  color: $hero-text-color;

  .button {
    margin-top: 50px;
    font-size: 20px;
  }
}