@import 'config';

/* Defaults */

::selection {
  color: $selection-text-color;
  background: $selection-background-color;
}

html {
  scroll-behavior: $scroll-behavior;
}

body {
  font-family: $default-font;
}

main {
  min-height: calc(100vh - #{$navbar-height})
}

h1 {
  font-family: $page-heading-font;
  font-size: $page-heading-font-size;
}

h2 {
  font-family: $section-heading-font;
  font-size: $section-heading-font-size;
}

h3, h4, h5, h6 {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

a {
  text-decoration: $link-text-decoration;
  color: $link-color;
  transition: $link-transition;

  &:hover {
    color: $link-color-hover;
    text-decoration: $link-text-decoration-hover;
  }
}
