{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block main %}
{% image page.hero_background_image scale-100 as bg_image%}
<section id="home" class="hero-full overlay-dark flex-column text-white" style="background-image: url({{bg_image.url}})">
  <h1>{{ page.hero_title }}</h1>
  <p>{{ page.hero_subtitle }}</p>
  {% if page.hero_cta_text %}
  <div class="flex">
    <a href="{{ page.hero_cta_link }}" class="btn btn-primary-outline">{{ page.hero_cta_text }}</a>
  </div>
  {% endif %}
</section>
{% endblock %}