{% load static wagtailuserbar wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  {# Global Stylesheets #}
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

  {% block extra_css %}
  {# Override this in template to add extra stylesheets #}
  {% endblock %}

  <title>
    {% block title %}
    {% if self.seo_title %}
    {{ self.seo_title }}
    {% else %}
    {{ self.title }}
    {% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}| {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>

</head>

<body>
  {% wagtailuserbar %}

  {# Header #}
  {% block header %}
  <header class="sticky-header">
    <nav class="navbar">
      <div class="container-wide">
        <div class="navbar-nav">

          <!-- Mobile Menu Icon -->
          <input type="checkbox" class="mobile-menu-toggle mr-1">
          <div class="mobile-menu-icon-wrapper mr-1">
            <div class="mobile-menu-icon">
              <div class="mobile-menu-icon-bar"></div>
            </div>
          </div>

          <!-- Website Logo -->
          <a class="navbar-logo px-2" href="/">Logo</a>

          <!-- Navigation Menus -->
          <div class="nav-menu">
            <ul class="nav-links">
            {% wagtail_site as current_site %}
              <li><a class="ml-auto" href="{{ current_site.root_page }}">Home</a></li>
              <li><a href="{% slugurl 'about' %}">About</a></li>
              <li><a href="{% slugurl 'contact' %}">Contact</a></li>
              {% if not user.is_authenticated %}
              <li><a href="">Login</a></li>
              <li><a href="">Register</a></li>
              {% else %}
              <li><a href="">Logout</a></li>
              <li><a href="">Dashboard</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}

  {# Main content #}
  <main>
    {% block main %}{% endblock %}
  </main>

  {# Footer #}
  {% block footer %}
  <footer>
    <div class="footer-body">
      <div class="footer-menu"></div>
      <div class="footer-menu"></div>
      <div class="footer-menu">

        {# Phone Number #}
        {% with settings.base.BusinessInfo.phone_number as phone_number and settings.base.BusinessInfo.phone_number_display as phone_number_display %}
        {% if phone_number %}
        <a href="tel:{{ phone_number }}">
          {% if phone_number_display %}{{ phone_number_display }}{% else %}{{ phone_number }}{% endif %}
        </a>
        {% endif %}
        {% endwith %}

        {# Email #}
        {% with settings.base.BusinessInfo.email as email and settings.base.BusinessInfo.email_display as email_display %}
        {% if email %}
        <a href="mailto:{{ email }}">
          {% if email_display %}{{ email_display }}{% else %}{{ email }}{% endif %}
        </a>
        {% endif %}
        {% endwith %}

      </div>
    </div>
    <div class="copyright">
      <div class="container-wide">
        <div class="copyright-content py-2">
          {% with self.get_site.site_name as site_name %}
          <p>&copy; {{ site_name }} {% now "Y" %}</p>
          {% endwith %}
          <div class="divider px-2"></div>
          <p>Built with <span class="text-electricblue">♥</span> by <a target="_blank" href="https://www.zackplauche.com">Zack Plauché</a></p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
</body>

</html>