// Brand Colors
$amazonorange: #f8991d;
$amazonnavy: #232f3e;
$facebook: #4267b2;
// $instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
$tripadvisor: #34e0a1;
$tiffany: #81d8d0;
$yelp: #d32222;
$zackhubblue: #21abde;

$brand-colors: (
  "amazonorange": $amazonorange,
  "amazonnavy": $amazonnavy,
  "facebook": $facebook,
  // "instagram": $instagram,
  "tripadvisor": $tripadvisor,
  "tiffany": $tiffany,
  "yelp": $yelp,
  "zackhubblue": $zackhubblue,
);

// Custom Colors //
$grass: #2abb67;
$green: #00a706;
$electricblue: #21abde;
$darkblue: #004a66;
$mystic: #00d1e6;
$deepblue: #0c181e;
$midnightblue: #080f13;

$custom-colors: (   
    "grass": $grass,
    "green": $green,
    "electricblue": $electricblue,
    "darkblue": $darkblue,
    "mystic": $mystic,
    "deepblue": $deepblue,
    "midnightblue": $midnightblue,
);

// Colors
$blue: blue;
$cyan: cyan;
$brown: brown;
$green: green;
$indigo: indigo;
$orange: orange;
$pink: pink;
$purple: purple;
$red: red;
$yellow: yellow;

$colors: (
  'blue': $blue,
'cyan': $cyan,
'brown': $brown,
'green': $green,
'indigo': $indigo,
'orange': $orange,
'pink': $pink,
'purple': $purple,
'red': $red,
'yellow': $yellow,
);

$colors: map-merge($brand-colors, $colors);
$colors: map-merge($custom-colors, $colors);