<section id="{{ section_name }}" class="hero {{ section_name }}-hero" style="background: url({{ hero_image_url }})">
  <!-- Headline -->
  <h1>{{ title }}</h1>
  {% if subtitle %}<p class="lead">{{ subtitle }}</p>{% endif %}

  <!-- Call-To-Action Buttons -->
  {% if cta_1 or cta_2 %}
  <div class="flex">
    {% if cta_1 %}<a href="{{ cta_1_url }}" class="btn">{{ cta_1 }}</a>{% endif %}
    {% if cta_2 %}<a href="{{ cta_2_url }}" class="btn">{{ cta_2 }}</a>{% endif %}
  </div>
  {% endif %}
</section>