.navbar {
  background-color: $navbar-color;

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navbar-height;
    position: relative;
    
    & > * {
      z-index: 10;
    }
  }

  &-logo {
    font-size: $navbar-logo-size;
    font-family: $navbar-logo-font;
    font-weight: $navbar-logo-weight;
    color: $navbar-logo-color;
    z-index: 11;
    white-space: nowrap;

    &:hover {
      color: $navbar-logo-color-hover;
    }
  }

  .nav-menu {
    display: flex;
    width: 100%;
    transition: opacity 0.3s ease;
    
    @media (max-width: $mobile-menu-breakpoint) {
      display: none;
    }

  }

  .nav-links {
    display: flex;
    height: 100%;
    width: 100%;

    li {
      display: contents;
    }

    a {
      display: flex;
      font-size: $navbar-link-size;
      justify-content: center;
      align-items: center;
      height: $navbar-height;
      padding: 0 10px;
      color: $navbar-link-color;
      transition: 0.2s ease;
      font-weight: $navbar-link-weight;
      text-transform: $navbar-link-text-transform;

      &:hover,
      &.active,
      &:focus {
        color: $navbar-link-color-hover;
        background: $navbar-link-background-color-hover;
      }
    }

  }
}

.mobile-menu {
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $mobile-menu-icon-size;
    width: $mobile-menu-icon-size;
    border-radius: $mobile-menu-icon-border-radius;
    transition: 0.2s ease;
  }
  
  &-icon-wrapper {
    display: none;
    position: absolute;
    top: 0; right: 0;
    height: $navbar-height;
    width: $navbar-height;
    z-index: 998;

    @media screen and (max-width: $mobile-menu-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-icon-bar {
    background-color: $mobile-menu-icon-color;
    height: $mobile-menu-icon-bar-height;
    width: $mobile-menu-icon-bar-width;
    position: relative;
    border-radius: $mobile-menu-icon-bar-height;
    transition: 0.2s linear;

    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      border-radius: $mobile-menu-icon-bar-height;
      background-color: $mobile-menu-icon-color;
      position: absolute;
      transition: 0.2s linear;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &-toggle {
    display: none;
    height: $navbar-height;
    width: $navbar-height;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 999;

    @media (max-width: $mobile-menu-breakpoint) {
      display: inline-block;
    }
  }

  // Mobile Menu Icon Hover Background
  &-toggle:hover + &-icon-wrapper {
    background: $mobile-menu-icon-background-color-hover;
  }

  &-toggle:checked + &-icon-wrapper &-icon-bar {
    transform: rotate(45deg);

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  // Open mobile menu
  @keyframes mobile-menu-open {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes mobile-menu-links {
    from {opacity: 0;transform: translateY(20px);}
    to {opacity: 1;transform: translateY(0);}
  }

  &-toggle:checked ~ .nav-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: $mobile-menu-background-color;
    animation: mobile-menu-open 0.35s;

    .nav-links {
      display: contents;

      a {
        height: $mobile-menu-link-height;
        width: $mobile-menu-link-width;
        color: $mobile-menu-link-color;
        padding: $mobile-menu-link-padding;
        font-size: $mobile-menu-link-size;
        margin: $mobile-menu-link-margin;
        opacity: 0;
        animation: mobile-menu-links 0.3s ease;
        animation-fill-mode: forwards;

        &:hover {
          color: $mobile-menu-link-color-hover;
          background-color: $mobile-menu-link-background-color-hover;
        }
      }

      @for $i from 1 through 9 {
        li:nth-child(#{$i}) a {
          animation-delay: .15s + (($i - 1) * .05);
        }
      }
    }
  }

  &-toggle:checked,
  &-toggle:checked ~ .navbar-logo,
  &-toggle:checked + &-icon {
    position: fixed;
  }
}
