$spacer: 1rem;
$spacers: (
  "auto": auto,
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $name, $spacer in $spacers {
    .#{$abbrev}x-#{$name} {
      #{$prop}: 0 #{$spacer};
    }
    .#{$abbrev}y-#{$name} {
      #{$prop}: #{$spacer} 0;
    }
    .#{$abbrev}t-#{$name} {
      #{$prop}-top: #{$spacer};
    }
    .#{$abbrev}r-#{$name} {
      #{$prop}-right: #{$spacer};
    }
    .#{$abbrev}b-#{$name} {
      #{$prop}-bottom: #{$spacer};
    }
    .#{$abbrev}l-#{$name} {
      #{$prop}-left: #{$spacer};
    }
  }
}

// Height & Width

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $size, $percentage in $sizes {
  .w-#{$size} {
    width: $percentage;
  }
  .h-#{$size} {
    height: $percentage;
  }
}
